
body {
   margin: 0;
   line-height: normal;
}


:root {
   
   /* fonts */
   --font-roboto: Roboto;
   
   /* font sizes */
   --font-size-xs: 12px;
   --font-size-3xs: 10px;
   --font-size-5xl: 24px;
   --font-size-17xl: 36px;
   
   /* Colors */
   --color-lightgoldenrodyellow: #ddffdc;
   --color-black: #000;
   --color-gray-100: rgba(255, 255, 255, 0.8);
   --color-gainsboro: #d9d9d9;
   --color-gold: #fff34c;
   
   /* Border radiuses */
   --br-11xs: 2px;
   --br-8xs: 5px;
   
}