.rectangle {
   position: absolute;
   width: 0.1%;
   top: 0px;
   right: 37.4%;
   left: 62.5%;
   background-color: var(--color-gainsboro);
   height: 1182.5px;
}
.rectangle1 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   height: 1183px;
}
.rectangle2 {
   position: absolute;
   width: 103.28%;
   top: 90px;
   right: -3.28%;
   left: 0%;
   background-color: var(--color-gainsboro);
   height: 1px;
}
.rectangle3 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   height: 60px;
}
.discover-culinary-excellence {
   position: absolute;
   top: 16px;
   left: calc(50% - 256.5px);
   letter-spacing: 0.48px;
   line-height: 20px;
   display: inline-block;
   width: 493px;
}
.frame5 {
   position: absolute;
   width: 103.28%;
   top: 30.05px;
   right: -3.28%;
   left: 0%;
   height: 60px;
}
.recipes {
   position: absolute;
   top: 8.05px;
   left: calc(50% - 117px);
   font-size: 20px;
   letter-spacing: 1px;
   line-height: 30px;
   display: inline-block;
   width: 235px;
}
.untitled-design-1 {
   position: absolute;
   top: 110.05px;
   left: 1px;
   width: 580px;
   height: 755px;
   object-fit: cover;
}
.frame4 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   height: 897.5px;
}
.at-fancyy-eats {
   margin: 0;
}
.at-fancyy-eats-container {
   position: absolute;
   width: 99.83%;
   top: 904.05px;
   left: 0.86%;
   font-size: 14px;
   letter-spacing: 0.14px;
   line-height: 26px;
   text-align: left;
   display: inline-block;
}
.frame6 {
   position: absolute;
   width: 100%;
   top: 1143.05px;
   right: 0%;
   left: 0%;
   height: 30px;
}
.frame3 {
   position: absolute;
   width: 96.67%;
   top: -0.05px;
   right: 3.33%;
   left: 0%;
   height: 1182.5px;
}
.frame2 {
   position: absolute;
   width: 62.5%;
   top: -1.95px;
   right: 16.15%;
   left: 21.35%;
   height: 1183px;
}
.rectangle4 {
   position: absolute;
   width: 100%;
   top: 1181.5px;
   right: 0%;
   left: 0%;
   background-color: var(--color-gainsboro);
   height: 1px;
}
.rectangle5 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   height: 9414px;
}
.rectangle6 {
   position: absolute;
   width: 100%;
   top: 413px;
   right: 0%;
   left: 0%;
   background-color: var(--color-gainsboro);
   height: 1px;
}
.rectangle7 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   height: 230px;
}
.aaron-loeb-1 {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 960px;
   height: 160px;
   object-fit: cover;
}
.frame9 {
   position: absolute;
   width: 100%;
   top: 482.55px;
   right: 0%;
   left: 0%;
   height: 230px;
}
.rectangle8 {
   position: absolute;
   width: 100%;
   top: 8894.89px;
   right: 0%;
   left: 0%;
   background-color: var(--color-gainsboro);
   height: 1px;
}
.rectangle9 {
   position: absolute;
   width: 100%;
   top: 9272.56px;
   right: 0%;
   left: 0%;
   background-color: var(--color-gainsboro);
   height: 1px;
}
.rectangle10 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   height: 413px;
}
.fancyy-1-icon {
   position: absolute;
   top: -79px;
   left: -120px;
   width: 1200px;
   height: 480px;
   object-fit: cover;
}
.frame10 {
   position: absolute;
   width: 100%;
   top: -0.45px;
   right: 0%;
   left: 0%;
   height: 413px;
}
.rectangle11 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   height: 8062px;
}
.rectangle12 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   height: 680px;
}
.rectangle13 {
   position: absolute;
   width: 99.91%;
   top: 674px;
   right: 0.09%;
   left: 0%;
   background-color: var(--color-gainsboro);
   height: 1px;
}
.image {
   position: absolute;
   width: 100%;
   top: 154px;
   right: 0%;
   left: 0%;
   height: 442px;
}
.icon {
   position: absolute;
   top: -67.59px;
   left: -82px;
   width: 606px;
   height: 595px;
   object-fit: cover;
}
.frame13 {
   position: absolute;
   width: 100.09%;
   top: 60.59px;
   right: -0.09%;
   left: 0%;
   height: 680px;
}
.frame12 {
   position: absolute;
   width: 46%;
   top: 804px;
   right: 27.02%;
   left: 26.98%;
   height: 803.59px;
}
.baked-potato {
   position: absolute;
   top: 628px;
   left: calc(50% - 178px);
   letter-spacing: 0.8px;
   line-height: 24px;
   display: inline-block;
   width: 324px;
   height: 27px;
}
.rectangle14 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   background-color: #fff34c;
   height: 35px;
}
.recent-post {
   position: absolute;
   top: 0px;
   left: calc(50% - 66px);
   letter-spacing: 1.2px;
   line-height: 35px;
   display: inline-block;
   width: 131px;
}
.frame14 {
   position: absolute;
   width: 22.08%;
   top: 472px;
   right: 40.63%;
   left: 37.29%;
   height: 35px;
   font-size: var(--font-size-xs);
}
.frame16 {
   position: absolute;
   width: 48.01%;
   top: 0.41px;
   right: 26.04%;
   left: 25.95%;
   height: 35px;
}
.rectangle15 {
   position: absolute;
   width: 100%;
   top: 740.59px;
   right: 0%;
   left: 0%;
   background-color: var(--color-gainsboro);
   height: 1px;
}
.frame15 {
   position: absolute;
   width: 46%;
   top: 1607.59px;
   right: 0%;
   left: 54%;
   height: 803.59px;
}
.frame17 {
   position: absolute;
   width: 46%;
   top: 2411.19px;
   right: 54%;
   left: 0%;
   height: 803.59px;
}
.rectangle17 {
   position: absolute;
   width: 100%;
   top: 725.59px;
   right: 0%;
   left: 0%;
   background-color: var(--color-gainsboro);
   height: 1px;
}
.frame18 {
   position: absolute;
   width: 46%;
   top: 3214.78px;
   right: 0%;
   left: 54%;
   height: 788.59px;
}
.frame19 {
   position: absolute;
   width: 27.81%;
   top: 7988px;
   right: 63.02%;
   left: 9.17%;
   height: 40px;
}
.frame20 {
   position: absolute;
   width: 27.81%;
   top: 7988px;
   right: 8.96%;
   left: 63.23%;
   height: 40px;
}
.eats-1-icon {
   position: absolute;
   top: 5676px;
   left: -88px;
   width: 982px;
   height: 1260px;
   object-fit: cover;
}
.ingredients-4-large-container {
   position: absolute;
   top: 2009px;
   left: -18px;
   font-size: 16px;
   letter-spacing: 0.8px;
   line-height: 24px;
}
.frame11 {
   position: absolute;
   width: 100%;
   top: 832.55px;
   right: 0%;
   left: 0%;
   height: 8062px;
}
.rectangle18 {
   position: absolute;
   width: 100%;
   top: 712.95px;
   right: 0%;
   left: 0%;
   background-color: var(--color-gainsboro);
   height: 1px;
}
.untitled-design-6-1 {
   position: absolute;
   top: 8966.55px;
   left: 0px;
   width: 960px;
   height: 235px;
   object-fit: cover;
}
.frame8 {
   position: absolute;
   width: 100%;
   top: 71.45px;
   right: 0%;
   left: 0%;
   height: 9342.56px;
}
.frame7 {
   position: absolute;
   width: 100%;
   top: 1182.05px;
   right: 0%;
   left: 0%;
   height: 9414px;
   font-size: 36px;
}
.frame1 {
   position: absolute;
   width: 80%;
   top: 271.95px;
   right: 10%;
   left: 10%;
   height: 10596.06px;
   font-size: var(--font-size-xs);
}
.image-icon {
   position: absolute;
   width: 100%;
   top: 10938px;
   right: 0%;
   left: 0%;
   max-width: 100%;
   overflow: hidden;
   height: 15px;
   object-fit: cover;
}
.rectangle19 {
   position: absolute;
   top: 33px;
   left: calc(50% - 82.13px);
   background-color: #b2b2b2;
   width: 164.23px;
   height: 1px;
}
.rectangle20 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   height: 21px;
}
.a-raptive-partner {
   position: absolute;
   top: 6px;
   left: calc(50% - 82px);
   line-height: 13px;
   text-transform: uppercase;
   display: inline-block;
   width: 164px;
}
.frame22 {
   position: absolute;
   top: 33.98px;
   left: calc(50% - 82px);
   width: 164px;
   height: 21px;
}
.information-from-your {
   position: absolute;
   top: -1.02px;
   left: calc(50% - 221px);
   line-height: 13px;
   display: inline-block;
   width: 442px;
}
.do-not-sell {
   position: absolute;
   top: 24.98px;
   left: calc(50% - 129px);
   font-size: var(--font-size-xs);
   line-height: 13px;
   color: #040340;
   display: inline-block;
   width: 259px;
}
.frame21 {
   position: absolute;
   width: 100%;
   top: 11436.02px;
   right: 0%;
   left: 0%;
   height: 55px;
   font-size: var(--font-size-smi);
   color: var(--color-darkgray-100);
}
.rectangle21 {
   position: absolute;
   top: -125px;
   left: 0px;
   background-color: var(--color-lightgoldenrodyellow);
   box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
   width: 1200px;
   height: 60px;
}
.image-icon1 {
   position: absolute;
   width: 4.58%;
   top: calc(50% - 5921px);
   right: 95%;
   left: 0.42%;
   border-radius: var(--br-8xs);
   max-width: 100%;
   overflow: hidden;
   height: 60px;
   object-fit: cover;
}
.image-icon2 {
   position: absolute;
   width: 4.58%;
   top: calc(50% - 5921px);
   right: 81.67%;
   left: 13.75%;
   border-radius: var(--br-8xs);
   max-width: 100%;
   overflow: hidden;
   height: 60px;
   object-fit: cover;
}
.image-icon3 {
   position: absolute;
   width: 4.58%;
   top: calc(50% - 5921px);
   right: 68.33%;
   left: 27.08%;
   border-radius: var(--br-8xs);
   max-width: 100%;
   overflow: hidden;
   height: 60px;
   object-fit: cover;
}
.image-icon4 {
   position: absolute;
   width: 4.58%;
   top: calc(50% - 5921px);
   right: 55%;
   left: 40.42%;
   border-radius: var(--br-8xs);
   max-width: 100%;
   overflow: hidden;
   height: 60px;
   object-fit: cover;
}
.image-icon5 {
   position: absolute;
   width: 4.58%;
   top: calc(50% - 5921px);
   right: 41.67%;
   left: 53.75%;
   border-radius: var(--br-8xs);
   max-width: 100%;
   overflow: hidden;
   height: 60px;
   object-fit: cover;
}
.image-icon6 {
   position: absolute;
   width: 4.58%;
   top: calc(50% - 5921px);
   right: 28.33%;
   left: 67.08%;
   border-radius: var(--br-8xs);
   max-width: 100%;
   overflow: hidden;
   height: 60px;
   object-fit: cover;
}
.image-icon7 {
   position: absolute;
   width: 4.58%;
   top: calc(50% - 5921px);
   right: 15%;
   left: 80.42%;
   border-radius: var(--br-8xs);
   max-width: 100%;
   overflow: hidden;
   height: 60px;
   object-fit: cover;
}
.image-icon8 {
   position: absolute;
   width: 4.58%;
   top: calc(50% - 5921px);
   right: 1.67%;
   left: 93.75%;
   border-radius: var(--br-8xs);
   max-width: 100%;
   overflow: hidden;
   height: 60px;
   object-fit: cover;
}
.image-icon9 {
   position: absolute;
   width: 4.58%;
   top: calc(50% - 5921px);
   right: -11.67%;
   left: 107.08%;
   border-radius: var(--br-8xs);
   max-width: 100%;
   overflow: hidden;
   height: 60px;
   object-fit: cover;
}
.image-icon10 {
   position: absolute;
   width: 4.58%;
   top: calc(50% - 5921px);
   right: -25%;
   left: 120.42%;
   border-radius: var(--br-8xs);
   max-width: 100%;
   overflow: hidden;
   height: 60px;
   object-fit: cover;
}
.rectangle22 {
   position: absolute;
   width: 2.67%;
   top: calc(50% - 5907px);
   right: 96.33%;
   left: 1%;
   background-color: var(--color-gray-100);
   height: 32px;
}
.rectangle23 {
   position: absolute;
   top: -111px;
   left: 12px;
   width: 32px;
   height: 32px;
}
.frame-icon {
   position: absolute;
   top: -107px;
   left: calc(50% - 584px);
   width: 24px;
   height: 24px;
   overflow: hidden;
}
.rectangle24 {
   position: absolute;
   width: 2.67%;
   top: calc(50% - 5907px);
   right: 1%;
   left: 96.33%;
   background-color: var(--color-gray-100);
   height: 32px;
}
.rectangle25 {
   position: absolute;
   top: -111px;
   left: 1156px;
   width: 32px;
   height: 32px;
}
.frame-icon1 {
   position: absolute;
   top: -107px;
   left: calc(50% + 560px);
   width: 24px;
   height: 24px;
   overflow: hidden;
}
.rectangle26 {
   position: absolute;
   width: 4.08%;
   top: 631px;
   right: 0.58%;
   left: 95.33%;
   border-radius: var(--br-11xs);
   height: 17px;
}
.rectangle27 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   background-color: var(--color-lightgoldenrodyellow);
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
   height: 44px;
}
.rectangle28 {
   position: absolute;
   width: 54.55%;
   top: -1767px;
   right: 1193.18%;
   left: -1147.73%;
   height: 24px;
}
.frame23 {
   position: absolute;
   top: 648px;
   left: 1146px;
   width: 44px;
   height: 44px;
   overflow: hidden;
}
.frame24 {
   position: absolute;
   top: 658px;
   left: calc(50% + 556px);
   width: 24px;
   height: 24px;
   overflow: hidden;
}
.frame-icon2 {
   position: absolute;
   top: -1119px;
   left: calc(50% + 41px);
   width: 24px;
   height: 24px;
   overflow: hidden;
}
.rectangle29 {
   position: absolute;
   width: 0.17%;
   top: 96px;
   right: 84.75%;
   left: 15.08%;
   border-radius: var(--br-11xs);
   background-color: rgba(0, 0, 0, 0.8);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
   height: 1px;
}
.rectangle30 {
   position: absolute;
   width: 13.42%;
   top: 569px;
   right: 0.42%;
   left: 86.17%;
   height: 43px;
}
.rectangle31 {
   position: absolute;
   width: 13.42%;
   top: 612px;
   right: 0.42%;
   left: 86.17%;
   height: 43px;
}
.rectangle32 {
   position: absolute;
   width: 100%;
   top: -80px;
   right: 0%;
   left: 0%;
   height: 280px;
}
.rectangle33 {
   position: absolute;
   width: 100%;
   top: -78px;
   right: 0%;
   left: 0%;
   height: 52px;
}
.rectangle34 {
   position: absolute;
   width: 4.42%;
   top: calc(50% - 5866px);
   right: 94.92%;
   left: 0.67%;
   border-radius: 8px;
   background-color: rgba(0, 0, 0, 0.05);
   height: 36px;
}
.frame-icon3 {
   position: absolute;
   top: -62px;
   left: calc(50% - 567px);
   width: 20px;
   height: 20px;
   overflow: hidden;
}
.rectangle35 {
   position: absolute;
   width: 100%;
   top: 1000px;
   right: 0%;
   left: 0%;
   height: 64px;
}
.rectangle36 {
   position: absolute;
   top: 1006px;
   left: 568px;
   width: 52px;
   height: 52px;
}
.frame-icon4 {
   position: absolute;
   top: 1016px;
   left: calc(50% - 22px);
   width: 32px;
   height: 32px;
   overflow: hidden;
}
.untitled-design-3-1 {
   position: absolute;
   top: 11592px;
   left: 802px;
   width: 1513px;
   height: 125px;
   object-fit: cover;
}
.untitled-design-3-2 {
   position: absolute;
   top: 11431px;
   left: 0px;
   width: 1513px;
   height: 161px;
   object-fit: cover;
}
.add-a-heading-1 {
   position: absolute;
   top: 76px;
   left: 0px;
   width: 1200px;
   height: 202px;
   object-fit: cover;
}
.rectangle37 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   background-color: var(--color-lightgoldenrodyellow);
   height: 32px;
}
.rectangle38 {
   position: absolute;
   top: 5px;
   left: calc(50% + 28px);
   background-color: var(--color-lightgoldenrodyellow);
   border: 2px solid #767676;
   box-sizing: border-box;
   width: 108px;
   height: 17px;
}
.home {
   position: absolute;
   top: 9px;
   left: calc(50% - 436px);
   letter-spacing: 3.1px;
   line-height: 10px;
   text-transform: uppercase;
   display: inline-block;
   width: 45px;
}
.about {
   position: absolute;
   top: 9px;
   left: calc(50% - 341px);
   letter-spacing: 3.1px;
   line-height: 10px;
   text-transform: uppercase;
   display: inline-block;
   width: 55px;
}
.privacy-policy {
   position: absolute;
   top: 9px;
   left: calc(50% - 236px);
   letter-spacing: 3.1px;
   line-height: 10px;
   text-transform: uppercase;
   display: inline-block;
   width: 131px;
}
.untitled-design-5-1 {
   position: absolute;
   top: -6px;
   left: 862px;
   width: 170px;
   height: 50px;
   object-fit: cover;
}
.frame26 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   height: 32px;
}
.frame25 {
   position: absolute;
   width: 100%;
   top: 18px;
   right: 0%;
   left: 0%;
   height: 44px;
}
.rectangle39 {
   position: absolute;
   width: 100%;
   top: 0px;
   right: 0%;
   left: 0%;
   background-color: #ffa500;
   height: 478px;
}
.image-icon11 {
   position: absolute;
   top: 40px;
   left: calc(50% - 126px);
   width: 252px;
   height: 32px;
   object-fit: cover;
}
.home1 {
   position: absolute;
   top: 0px;
   left: calc(50% - 400px);
   letter-spacing: 3.1px;
   line-height: 15px;
   text-transform: uppercase;
   display: inline-block;
   width: 45px;
}
.privacy-policy1 {
   position: absolute;
   top: 0px;
   left: calc(50% + 253px);
   letter-spacing: 3.1px;
   line-height: 15px;
   text-transform: uppercase;
   display: inline-block;
   width: 133px;
}
.frame29 {
   position: absolute;
   width: 100%;
   top: 131.98px;
   right: -0.75%;
   left: 0.75%;
   height: 21px;
}
.about1 {
   position: absolute;
   top: 124.98px;
   left: calc(50% - 41px);
   letter-spacing: 3.1px;
   line-height: 15px;
   text-transform: uppercase;
   display: inline-block;
   width: 55px;
}
.frame28 {
   position: absolute;
   width: 100%;
   top: 94.02px;
   right: 0%;
   left: 0%;
   height: 305px;
}
.copyright-2023 {
   position: absolute;
   top: 422px;
   left: calc(50% - 179px);
   font-size: var(--font-size-xs);
   line-height: 15px;
   display: inline-block;
   width: 358px;
}
.frame27 {
   position: absolute;
   width: 100%;
   top: 10956px;
   right: -0.08%;
   left: 0.08%;
   height: 478px;
   color: var(--color-lightgoldenrodyellow);
}
.frame {
   position: relative;
   background-color: var(--color-lightgoldenrodyellow);
   width: 100%;
   height: 11592px;
   overflow: hidden;
   text-align: center;
   font-size: var(--font-size-3xs);
   color: var(--color-black);
   font-family: var(--font-roboto);
}
