.rectangle {
    position: absolute;
    width: 0.1%;
    top: 0px;
    right: 37.4%;
    left: 62.5%;
    background-color: var(--color-gainsboro);
    height: 1474.63px;
 }
 .rectangle1 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 1475px;
 }
 .rectangle2 {
    position: absolute;
    width: 103.28%;
    top: 90px;
    right: -3.28%;
    left: 0%;
    background-color: var(--color-gainsboro);
    height: 1px;
 }
 .privacy-policy {
    position: absolute;
    top: 25.05px;
    left: calc(50% - 96px);
    letter-spacing: 1.2px;
    line-height: 36px;
    display: inline-block;
    width: 192px;
 }
 .rectangle3 {
    position: absolute;
    width: 103.28%;
    top: 67.05px;
    right: -3.28%;
    left: 0%;
    height: 23px;
 }
 .frame4 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 90px;
 }
 .fancyy-eats-uses {
    position: absolute;
    width: 99.83%;
    top: 46.05px;
    left: 0%;
    letter-spacing: 0.15px;
    line-height: 28.5px;
    display: inline-block;
 }
 .google-analytics-opt-out {
    position: absolute;
    width: 41.21%;
    top: 234.05px;
    left: 19.31%;
    letter-spacing: 0.15px;
    line-height: 28.5px;
    color: var(--color-lightseagreen);
    display: inline-block;
 }
 .email {
    position: absolute;
    width: 8.1%;
    top: 287.05px;
    left: 0%;
    font-size: var(--font-size-base);
    letter-spacing: 0.15px;
    line-height: 26px;
    display: inline-block;
 }
 .email-addresses-used {
    position: absolute;
    width: 97.41%;
    top: 498.05px;
    left: 0%;
    letter-spacing: 0.15px;
    line-height: 28.5px;
    display: inline-block;
 }
 .advertising-search-and {
    position: absolute;
    width: 51.03%;
    top: 575.05px;
    left: 0%;
    font-size: var(--font-size-base);
    letter-spacing: 0.15px;
    line-height: 26px;
    display: inline-block;
 }
 .we-engage-others {
    position: absolute;
    width: 96.38%;
    top: 829.05px;
    left: 0%;
    letter-spacing: 0.15px;
    line-height: 28.5px;
    display: inline-block;
 }
 .we-process-personal {
    position: absolute;
    width: 96.9%;
    top: 1063.05px;
    left: 0%;
    letter-spacing: 0.15px;
    line-height: 28.5px;
    display: inline-block;
 }
 .analytics {
    position: absolute;
    width: 13.45%;
    top: -0.95px;
    left: 0%;
    font-size: var(--font-size-base);
    letter-spacing: 0.15px;
    line-height: 26px;
    display: inline-block;
 }
 .div {
    position: absolute;
    width: 0.52%;
    top: 235.05px;
    left: 60.69%;
    letter-spacing: 0.15px;
    line-height: 28.5px;
    display: inline-block;
 }
 .newsletter-sponsorships {
    position: absolute;
    width: 34.66%;
    top: 782.05px;
    left: 0%;
    font-size: var(--font-size-base);
    letter-spacing: 0.15px;
    line-height: 26px;
    display: inline-block;
 }
 .here {
    position: absolute;
    width: 6.21%;
    top: 1171.05px;
    left: 82.76%;
    letter-spacing: 0.15px;
    line-height: 28.5px;
    color: var(--color-lightseagreen);
    display: inline-block;
 }
 .if-you-would {
    position: absolute;
    width: 96.03%;
    top: 210.05px;
    left: 0%;
    letter-spacing: 0.15px;
    line-height: 28.5px;
    display: inline-block;
 }
 .this-site-is {
    position: absolute;
    width: 99.31%;
    top: 621.05px;
    left: 0%;
    letter-spacing: 0.15px;
    line-height: 28.5px;
    display: inline-block;
 }
 .email-addresses-collected {
    position: absolute;
    width: 98.97%;
    top: 334.05px;
    left: 0%;
    letter-spacing: 0.15px;
    line-height: 28.5px;
    display: inline-block;
 }
 .opting-out-of {
    position: absolute;
    width: 97.24%;
    top: 1017.05px;
    left: 0%;
    font-size: var(--font-size-base);
    letter-spacing: 0.15px;
    line-height: 26px;
    display: inline-block;
 }
 .frame5 {
    position: absolute;
    width: 100%;
    top: 110px;
    right: 0%;
    left: 0%;
    height: 1284.25px;
    text-align: left;
    font-size: var(--font-size-mini);
 }
 .frame3 {
    position: absolute;
    width: 96.67%;
    top: -0.05px;
    right: 3.33%;
    left: 0%;
    height: 1474.63px;
 }
 .frame2 {
    position: absolute;
    width: 62.5%;
    top: 0.05px;
    right: 37.5%;
    left: 0%;
    height: 1475px;
 }
 .untitled-design-3-2 {
    position: absolute;
    top: 1220.05px;
    left: 773px;
    width: 0px;
    height: 0px;
    object-fit: cover;
 }
 .rectangle4 {
    position: absolute;
    width: 0.1%;
    top: 0px;
    right: 37.6%;
    left: 62.29%;
    background-color: var(--color-gainsboro);
    height: 1181.5px;
 }
 .rectangle5 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 1182px;
 }
 .rectangle6 {
    position: absolute;
    width: 100%;
    top: 90px;
    right: 0%;
    left: 0%;
    background-color: var(--color-gainsboro);
    height: 1px;
 }
 .breakfast {
    position: absolute;
    top: -0.95px;
    left: calc(50% - 119px);
    letter-spacing: 1.35px;
    line-height: 16.2px;
    text-transform: uppercase;
    display: inline-block;
    width: 72px;
 }
 .main-dish {
    position: absolute;
    top: -0.95px;
    left: calc(50% - 23px);
    letter-spacing: 1.35px;
    line-height: 16.2px;
    text-transform: uppercase;
    display: inline-block;
    width: 65px;
 }
 .dessert {
    position: absolute;
    top: -0.95px;
    left: calc(50% + 66px);
    letter-spacing: 1.35px;
    line-height: 16.2px;
    text-transform: uppercase;
    display: inline-block;
    width: 53px;
 }
 .div1 {
    position: absolute;
    top: 15.05px;
    left: calc(50% - 32px);
    letter-spacing: 1.35px;
    line-height: 16.2px;
    text-transform: uppercase;
    display: inline-block;
    width: 24px;
 }
 .div2 {
    position: absolute;
    top: -0.95px;
    left: calc(50% - 47px);
    letter-spacing: 1.35px;
    line-height: 16.2px;
    text-transform: uppercase;
    display: inline-block;
    width: 24px;
 }
 .vegan {
    position: absolute;
    top: 15.05px;
    left: calc(50% - 74px);
    letter-spacing: 1.35px;
    line-height: 16.2px;
    text-transform: uppercase;
    display: inline-block;
    width: 42px;
 }
 .gluten-free {
    position: absolute;
    top: 15.05px;
    left: calc(50% - 8px);
    letter-spacing: 1.35px;
    line-height: 16.2px;
    text-transform: uppercase;
    display: inline-block;
    width: 82px;
 }
 .div3 {
    position: absolute;
    top: -0.95px;
    left: calc(50% + 42px);
    letter-spacing: 1.35px;
    line-height: 16.2px;
    text-transform: uppercase;
    display: inline-block;
    width: 24px;
 }
 .frame9 {
    position: absolute;
    width: 100%;
    top: 89px;
    right: 0%;
    left: 0%;
    height: 32px;
 }
 .all-recipes {
    position: absolute;
    top: 137.05px;
    left: calc(50% - 58px);
    font-size: 13px;
    letter-spacing: 1.6px;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
    width: 116px;
 }
 .image-icon {
    position: absolute;
    width: 100%;
    top: 155.05px;
    right: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    height: 44px;
    object-fit: cover;
 }
 .subscribe-1-icon {
    position: absolute;
    top: 0.05px;
    left: 26px;
    width: 328px;
    height: 92px;
    object-fit: cover;
 }
 .frame8 {
    position: absolute;
    width: 100%;
    top: 90px;
    right: 0%;
    left: 0%;
    height: 199px;
 }
 .we-love-to {
    position: absolute;
    top: 238.05px;
    left: calc(50% - 117px);
    letter-spacing: 0.55px;
    line-height: 22px;
    display: inline-block;
    width: 234px;
 }
 .hello-were-lauren {
    position: absolute;
    top: 206.05px;
    left: calc(50% - 118px);
    font-size: var(--font-size-sm);
    letter-spacing: 0.7px;
    line-height: 28px;
    display: inline-block;
    width: 236px;
 }
 .untitled-design-4-1 {
    position: absolute;
    top: -18.95px;
    left: 0px;
    width: 225px;
    height: 191px;
    object-fit: cover;
 }
 .frame11 {
    position: absolute;
    width: 100%;
    top: 36px;
    right: 0%;
    left: 0%;
    height: 345px;
 }
 .image-icon1 {
    position: absolute;
    width: 100%;
    top: 381.05px;
    right: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    height: 44px;
    object-fit: cover;
 }
 .frame10 {
    position: absolute;
    width: 69.44%;
    top: 289px;
    right: 15.28%;
    left: 15.28%;
    height: 425px;
    font-size: 11px;
 }
 .image-icon2 {
    position: absolute;
    width: 50%;
    top: 0.05px;
    right: 25%;
    left: 25%;
    max-width: 100%;
    overflow: hidden;
    height: 23px;
    object-fit: cover;
 }
 .pinterest {
    position: absolute;
    width: 15.56%;
    top: -0.95px;
    left: -1641.67%;
    line-height: 16px;
    display: inline-block;
 }
 .facebook {
    position: absolute;
    width: 17.22%;
    top: -0.95px;
    left: -1591.67%;
    line-height: 16px;
    display: inline-block;
 }
 .twitter {
    position: absolute;
    width: 12.78%;
    top: -0.95px;
    left: -1616.67%;
    line-height: 16px;
    display: inline-block;
 }
 .instagram {
    position: absolute;
    width: 17.78%;
    top: -0.95px;
    left: -1666.67%;
    line-height: 16px;
    display: inline-block;
 }
 .frame12 {
    position: absolute;
    width: 100%;
    top: 776px;
    right: 0%;
    left: 0%;
    height: 22.5px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-midnightblue);
 }
 .a-food-blog {
    position: absolute;
    top: 18px;
    left: calc(50% - 120px);
    letter-spacing: 3.23px;
    line-height: 27.2px;
    display: inline-block;
    width: 240px;
 }
 .frame13 {
    position: absolute;
    width: 100%;
    top: 0.05px;
    right: 0%;
    left: 0%;
    height: 90px;
    font-size: 17px;
 }
 .rectangle8 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: #ffa500;
    height: 478px;
 }
 .image-icon3 {
    position: absolute;
    top: 40px;
    left: calc(50% - 126px);
    width: 252px;
    height: 32px;
    object-fit: cover;
 }
 .home {
    position: absolute;
    top: 0px;
    left: calc(50% - 400px);
    letter-spacing: 3.1px;
    line-height: 15px;
    text-transform: uppercase;
    display: inline-block;
    width: 45px;
 }
 .privacy-policy1 {
    position: absolute;
    top: 0px;
    left: calc(50% + 253px);
    letter-spacing: 3.1px;
    line-height: 15px;
    text-transform: uppercase;
    display: inline-block;
    width: 133px;
 }
 .frame16 {
    position: absolute;
    width: 100%;
    top: 131.98px;
    right: -0.75%;
    left: 0.75%;
    height: 21px;
 }
 .about {
    position: absolute;
    top: 127.98px;
    left: calc(50% - 28px);
    letter-spacing: 3.1px;
    line-height: 15px;
    text-transform: uppercase;
    display: inline-block;
    width: 55px;
 }
 .frame15 {
    position: absolute;
    width: 100%;
    top: 94.02px;
    right: 0%;
    left: 0%;
    height: 305px;
 }
 .copyright-2023 {
    position: absolute;
    top: 422px;
    left: calc(50% - 179px);
    font-size: 12px;
    line-height: 15px;
    display: inline-block;
    width: 358px;
 }
 .frame14 {
    position: absolute;
    width: 333.33%;
    top: 1538.05px;
    right: -34.44%;
    left: -198.89%;
    height: 478px;
    font-size: var(--font-size-3xs);
    color: var(--color-lightgoldenrodyellow);
 }
 .untitled-design-3-3 {
    position: absolute;
    top: 860.05px;
    left: 41px;
    width: 339px;
    height: 404px;
    object-fit: cover;
 }
 .frame7 {
    position: absolute;
    width: 99.72%;
    top: -0.05px;
    right: 0%;
    left: 0.28%;
    height: 1145.5px;
 }
 .frame6 {
    position: absolute;
    width: 37.6%;
    top: 0.05px;
    right: 0%;
    left: 62.4%;
    height: 1182px;
    font-size: var(--font-size-4xs);
 }
 .rectangle9 {
    position: absolute;
    width: 100%;
    top: 1473.63px;
    right: 0%;
    left: 0%;
    background-color: var(--color-gainsboro);
    height: 1px;
 }
 .rectangle10 {
    position: absolute;
    width: 100%;
    top: 1475.05px;
    right: 0%;
    left: 0%;
    height: 1px;
 }
 .frame1 {
    position: absolute;
    width: 80%;
    top: 271.95px;
    right: 10%;
    left: 10%;
    height: 1475.63px;
 }
 .untitled-design-3-1 {
    position: absolute;
    top: 2276px;
    left: 4px;
    width: 1487px;
    height: 195px;
    object-fit: cover;
 }
 .image-icon4 {
    position: absolute;
    width: 100%;
    top: 1795px;
    right: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    height: 15px;
    object-fit: cover;
 }
 .rectangle11 {
    position: absolute;
    top: -125px;
    left: 0px;
    background-color: var(--color-lightgoldenrodyellow);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
    width: 1200px;
    height: 60px;
 }
 .image-icon5 {
    position: absolute;
    width: 4.58%;
    top: calc(50% - 1360.5px);
    right: 95%;
    left: 0.42%;
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    height: 60px;
    object-fit: cover;
 }
 .image-icon6 {
    position: absolute;
    width: 4.58%;
    top: calc(50% - 1360.5px);
    right: 81.67%;
    left: 13.75%;
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    height: 60px;
    object-fit: cover;
 }
 .image-icon7 {
    position: absolute;
    width: 4.58%;
    top: calc(50% - 1360.5px);
    right: 68.33%;
    left: 27.08%;
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    height: 60px;
    object-fit: cover;
 }
 .image-icon8 {
    position: absolute;
    width: 4.58%;
    top: calc(50% - 1360.5px);
    right: 55%;
    left: 40.42%;
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    height: 60px;
    object-fit: cover;
 }
 .image-icon9 {
    position: absolute;
    width: 4.58%;
    top: calc(50% - 1360.5px);
    right: 41.67%;
    left: 53.75%;
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    height: 60px;
    object-fit: cover;
 }
 .image-icon10 {
    position: absolute;
    width: 4.58%;
    top: calc(50% - 1360.5px);
    right: 28.33%;
    left: 67.08%;
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    height: 60px;
    object-fit: cover;
 }
 .image-icon11 {
    position: absolute;
    width: 4.58%;
    top: calc(50% - 1360.5px);
    right: 15%;
    left: 80.42%;
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    height: 60px;
    object-fit: cover;
 }
 .image-icon12 {
    position: absolute;
    width: 4.58%;
    top: calc(50% - 1360.5px);
    right: 1.67%;
    left: 93.75%;
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    height: 60px;
    object-fit: cover;
 }
 .image-icon13 {
    position: absolute;
    width: 4.58%;
    top: calc(50% - 1360.5px);
    right: -11.67%;
    left: 107.08%;
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    height: 60px;
    object-fit: cover;
 }
 .image-icon14 {
    position: absolute;
    width: 4.58%;
    top: calc(50% - 1360.5px);
    right: -25%;
    left: 120.42%;
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    height: 60px;
    object-fit: cover;
 }
 .rectangle12 {
    position: absolute;
    width: 2.67%;
    top: calc(50% - 1346.5px);
    right: 96.33%;
    left: 1%;
    background-color: var(--color-gray-100);
    height: 32px;
 }
 .rectangle13 {
    position: absolute;
    top: -111px;
    left: 12px;
    width: 32px;
    height: 32px;
 }
 .frame-icon {
    position: absolute;
    top: -107px;
    left: calc(50% - 584px);
    width: 24px;
    height: 24px;
    overflow: hidden;
 }
 .rectangle14 {
    position: absolute;
    width: 2.67%;
    top: calc(50% - 1346.5px);
    right: 1%;
    left: 96.33%;
    background-color: var(--color-gray-100);
    height: 32px;
 }
 .rectangle15 {
    position: absolute;
    top: -111px;
    left: 1156px;
    width: 32px;
    height: 32px;
 }
 .frame-icon1 {
    position: absolute;
    top: -107px;
    left: calc(50% + 560px);
    width: 24px;
    height: 24px;
    overflow: hidden;
 }
 .rectangle16 {
    position: absolute;
    width: 100%;
    top: -80px;
    right: 0%;
    left: 0%;
    height: 280px;
 }
 .rectangle17 {
    position: absolute;
    width: 100%;
    top: -78px;
    right: 0%;
    left: 0%;
    height: 52px;
 }
 .rectangle18 {
    position: absolute;
    width: 4.42%;
    top: calc(50% - 1305.5px);
    right: 94.92%;
    left: 0.67%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    height: 36px;
 }
 .frame-icon2 {
    position: absolute;
    top: -62px;
    left: calc(50% - 567px);
    width: 20px;
    height: 20px;
    overflow: hidden;
 }
 .rectangle19 {
    position: absolute;
    width: 100%;
    top: 1000px;
    right: 0%;
    left: 0%;
    height: 64px;
 }
 .rectangle20 {
    position: absolute;
    top: 1006px;
    left: 568px;
    width: 52px;
    height: 52px;
 }
 .frame-icon3 {
    position: absolute;
    top: 1016px;
    left: calc(50% - 22px);
    width: 32px;
    height: 32px;
    overflow: hidden;
 }
 .frame-icon4 {
    position: absolute;
    top: 1088px;
    left: calc(50% + 548px);
    width: 24px;
    height: 24px;
    overflow: hidden;
 }
 .rectangle21 {
    position: absolute;
    top: 812px;
    left: 12px;
    border-radius: 3px;
    background-color: #323232;
    width: 32px;
    height: 48px;
 }
 .add-a-heading-1 {
    position: absolute;
    top: 95px;
    left: 50px;
    width: 1200px;
    height: 202px;
    object-fit: cover;
 }
 .rectangle22 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: var(--color-lightgoldenrodyellow);
    height: 32px;
 }
 .rectangle23 {
    position: absolute;
    top: 5px;
    left: calc(50% + 28.5px);
    background-color: var(--color-lightgoldenrodyellow);
    border: 2px solid #767676;
    box-sizing: border-box;
    width: 108px;
    height: 17px;
 }
 .home1 {
    position: absolute;
    top: 9px;
    left: calc(50% - 435.5px);
    letter-spacing: 3.1px;
    line-height: 10px;
    text-transform: uppercase;
    display: inline-block;
    width: 45px;
 }
 .about1 {
    position: absolute;
    top: 9px;
    left: calc(50% - 340.5px);
    letter-spacing: 3.1px;
    line-height: 10px;
    text-transform: uppercase;
    display: inline-block;
    width: 55px;
 }
 .privacy-policy2 {
    position: absolute;
    top: 9px;
    left: calc(50% - 235.5px);
    letter-spacing: 3.1px;
    line-height: 10px;
    text-transform: uppercase;
    display: inline-block;
    width: 131px;
 }
 .untitled-design-5-1 {
    position: absolute;
    top: -6px;
    left: 862px;
    width: 170px;
    height: 50px;
    object-fit: cover;
 }
 .frame18 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 32px;
 }
 .frame17 {
    position: absolute;
    width: 101.58%;
    top: 39px;
    right: -3.92%;
    left: 2.33%;
    height: 42px;
    font-size: var(--font-size-3xs);
 }
 .frame {
    position: relative;
    background-color: var(--color-lightgoldenrodyellow);
    width: 100%;
    height: 2471px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: var(--color-black);
    font-family: var(--font-roboto);
 }
 
 
 